<div class="container has-background-grey-light">
  {{> admin-menu active="dashboard"}}
  <div class="box box-link-hover-shadow">
      <h2 class="title">
        Analytics
      </h2>
      <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-nygrz/embed/charts?id=64146508-8380-4931-8000-151093b4c08a&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
      <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-nygrz/embed/charts?id=64147a3a-9290-487b-802f-8543e649900d&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
      <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-nygrz/embed/charts?id=64147bb8-ca38-480c-8e6b-7960709f938a&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
      <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-nygrz/embed/charts?id=64147ad3-4c2f-4b65-80bb-5301bcc0bb1d&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
      <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-nygrz/embed/charts?id=64147d21-55c9-40de-8d41-1f39782de2ee&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
      <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-nygrz/embed/charts?id=64147d09-81d2-495e-8d3a-eda64557fd7e&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
  </div>
</div>