{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Placemark : Organise and manage places </p>
    <p class="box">
      <i class="fas fa-globe fa-10x" style="color:darkorange"></i>
    </p>
  </div>
</section>
