<form action="/dashboard/addplacemark" method="POST">
  <div class="field">
    <label class="label">Placemark Name</label> <input class="input" type="text" placeholder="Enter placemark name" name="name">
  </div>
  <button class="button is-link">Add Placemark</button>
</form>
