<form class="box" action="/place/{{place._id}}/addreview" method="POST">
  <label>Enter Your Review:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Name" name="name">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Enter rating" name="rating">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Your Review" name="fullReview">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Review</button>
</form>
