<form class="box" action="/place/{{place._id}}/adddiscussion" method="POST">
  <label>Enter Your Discussion:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Your Point" name="text">
      </div>
    </div>
  </div>
  <button class="button is-primary">Post</button>
</form>